[Desktop Entry]
Name=Facebook
GenericName=Facebook
Comment=Community Portal
Exec=medes facebook
Icon=facebook
Terminal=false
Type=Application
Categories=Network;Medes;
