[Desktop Entry]
Name=G-Mail
GenericName=Google Mail
Comment=Web-mail client
Exec=medes gmail
Icon=gmail
Terminal=false
Type=Application
Categories=Network;Medes;
