[Desktop Entry]
Name=Ubuntu Wiki
GenericName=Ubuntu Wiki
Comment=
Exec=medes ubuntuwiki
Icon=distributor-logo
Terminal=false
Type=Application
Categories=Application;Core;Medes;
