Source: medes
Section: web
Priority: extra
Maintainer: Sean Hodges <seanhodges@bluebottle.com>
Build-Depends: debhelper (>= 5), cmake (>= 2), pkg-config (>= 0.22), firefox-dev (>= 2) | xulrunner-dev,
 libgtk2.0-dev, libxml2-dev, libboost-filesystem-dev, libboost-dev
Standards-Version: 3.7.2

Package: medes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, firefox (>= 2) | iceweasel (>=2), libxml2
Description: A web application runtime
 Medes allows your to run an on-line web application outside of the browser,
 it's purpose is to integrate existing web applications to the desktop with 
 no requirements to modify the server-side components.
